body{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    color: red;
}
.img2{
    float: right;
    width:650px ;
    height:800px;
}

.img1{
    float: left;
    width:100px ;
}